body {
    margin: 0;

}

.container {
    display: flex;
    justify-content: space-around;
    background-color: 1B244A;
    width: 300px;
    height: 250px;
    border: 2px solid cyan;
    border-radius: 5px;
}

.home {
    display: block;
    align-items: center;
}

.guest {
    display: block;
    align-items: center;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: white;
}


#home-scs {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 60px;
    height: 50px;
    background-color: #070909;
    border: 3px solid black;
    font-family: "Cursed Timer ULiL";
    font-style: normal;
    font-weight: 44;
    font-size: 40px;
    text-align: center;
    color: #F94F6D;
}

#guest-scs {
    position: absolute;
    width: 60px;
    height: 50px;
    top: 80px;
    left: 182px;
    background-color: #070909;
    border: 3px solid black;
    font-family: "Cursed Timer ULiL";
    font-style: normal;
    font-weight: 44;
    font-size: 40px;
    text-align: center;
    color: #F94F6D;

}

#home1 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    background: #1B244A;
    color: #9AABD8;
    border:1px solid #9AABD8;
    border-radius: 3px;

}
#home2 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    left: 60px;
    background: #1B244A;
    color: #9AABD8;
    border:1px solid #9AABD8;
    border-radius: 3px;
}
#home3 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    left: 87px;
    background: #1B244A;
    color: #9AABD8;
    border-radius: 3px;
    border: 1px solid #9AABD8;
}
#guest1 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    background: #1B244A;
    color: 9AABD8;
    border:1px solid #9AABD8;
    border-radius: 3px;
}
#guest2 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    left: 205px;
    background: #1B244A;
    color: #9AABD8;
    border:1px solid #9AABD8;
    border-radius: 3px;
}
#guest3 {
    position: absolute;
    width: 25px;
    height: 25px;
    top:155px;
    left: 235px;
    background: #1B244A;
    color: #9AABD8;
    border:1px solid #9AABD8;
    border-radius: 3px;
}